.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 25px;
  height: 100%;
}
.signin .signinWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #202020;
  padding: 2rem;
  border-radius: 15px;
  width: 400px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    13deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
.signin .signinWrapper .title {
  font-size: 25px;
  font-weight: 800;
  text-transform: capitalize;
}
.signin .signinWrapper .subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.signin .signinWrapper input {
  color: black;
  border: none;
  outline: none;
  margin-bottom: 8px;
  border-radius: 15px;
  padding: 8px;
}

.signin .signinWrapper .btn {
  padding: 8px;
  border-radius: 15px;
  width: 85px;
  cursor: pointer;
}
.signin .signinWrapper .btn:hover {
}

.signin .signinWrapper .googlebtn Button {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  color: #202020;
  margin-top: 8px;
  font-size: 15px;
  border-radius: 15px;
}
